*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

a:visited,
a:hover,
a:active {
  text-decoration: none; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: grey; }

body {
  background-color: #fff;
  max-width: 160rem;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.container-fluid {
  max-width: 160rem; }

body {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  color: #c2b59b;
  font-size: 1.5rem; }

.heading-primary {
  color: #726658;
  font-weight: 300;
  font-size: 2.5rem;
  margin-top: 2rem; }
  @media only screen and (min-width: 768px) {
    .heading-primary {
      margin-top: 0rem;
      font-size: 2.75rem; } }
  @media only screen and (min-width: 992px) {
    .heading-primary {
      font-size: 3.75rem; } }

.heading-secondary {
  text-transform: uppercase;
  color: #726658;
  font-size: 1.75rem;
  font-weight: 700; }
  @media only screen and (min-width: 768px) {
    .heading-secondary {
      font-size: 2.5rem; } }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  color: #231f20; }

.heading-green {
  font-size: 2rem;
  color: #006e47;
  font-weight: 700; }

.text-large {
  font-size: 2.5rem;
  color: #726658;
  font-weight: 300; }

.text-medium {
  color: #58585a;
  font-size: 1.6rem;
  font-weight: 400; }
  @media only screen and (min-width: 992px) {
    .text-medium {
      font-size: 1.8rem; } }

.text-small {
  font-size: 1.2rem;
  font-weight: 300; }

.text-bold {
  font-weight: 700; }

.color-light-green {
  color: #006e47; }

.color-dark-green {
  color: #1d4938; }

.color-light-brown {
  color: #c2b59b; }

.color-dark-brown {
  color: #726658; }

.color-white {
  color: #fff; }

.color-black {
  color: #231f20; }

.color-main-grey {
  color: #58585a; }

.button {
  font-weight: 700;
  background-color: transparent; }
  .button--large {
    font-size: 2rem;
    padding: 1.25rem 2rem;
    font-size: 1.5rem;
    text-transform: uppercase; }
  .button--small {
    padding: 1rem; }
  .button--green {
    color: #006e47;
    border-color: #006e47; }
    .button--green:hover {
      background-color: #006e47;
      color: #fff; }
  .button--border-green {
    border-color: #006e47; }
  .button--brown {
    background-color: #726658;
    color: #fff !important;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.625rem; }

.contact--bg-green {
  background: #006e47; }

.contact--bg-grey {
  background: #eae6e5; }

.contact__border-light {
  background: #c2b59b;
  height: 1.5rem; }

.contact__border-dark {
  background: #726658;
  height: 1.5rem; }

.contact__main {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.contact__heading {
  line-height: 1.5;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700; }

.contact__text {
  font-size: 1.5rem;
  color: #231f20;
  line-height: 1.7; }
  .contact__text--bold {
    font-weight: 700; }

.contact-form {
  margin-bottom: 4.5rem; }

.wpcf7 {
  color: #726658; }
  .wpcf7 label {
    width: 100%;
    margin-bottom: 0; }
  .wpcf7 p {
    display: flex;
    width: 100%; }
  .wpcf7-text {
    border: 1px solid #726658;
    min-width: 100%;
    max-width: 100%;
    margin-top: 2px; }
  .wpcf7-textarea {
    min-width: 100%;
    max-width: 100%;
    border: 1px solid #231f20;
    resize: none; }
  .wpcf7-submit {
    padding-right: 3rem;
    padding-left: 3rem;
    margin-right: -20px;
    font-size: 1.5rem;
    background-image: url(); }

.error-404 {
  margin-top: 10rem;
  margin-bottom: 10rem; }

.featured-products {
  padding-top: 5rem;
  background: #eae6e5; }
  .featured-products__image {
    height: 15rem;
    width: 15rem; }
    .featured-products__image img {
      width: 100%;
      height: 100%; }
  .featured-products__heading {
    margin-bottom: 4rem;
    text-align: center; }
    @media only screen and (min-width: 768px) {
      .featured-products__heading {
        text-align: left;
        margin-bottom: 1.5rem; } }
  .featured-products__subheading {
    color: black;
    font-weight: 700;
    margin-top: 2rem;
    font-size: 1.4rem; }
  .featured-products__description {
    color: black;
    font-weight: 300;
    font-size: 1.4rem; }
  .featured-products__link {
    color: #006e47;
    font-weight: 700;
    font-size: 1.4rem;
    border-bottom: 1px solid #006e47; }
    .featured-products__link:hover {
      color: #006e47; }
  .featured-products__border-bottom {
    background: #726658;
    height: 1.5rem;
    margin-top: 5rem; }

.footer {
  background: #1d4938;
  padding: 5rem 0;
  color: #fff; }
  .footer__heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 2rem; }
  .footer__copyright {
    border-top: 1px solid #c2b59b;
    padding-top: 1.5rem;
    margin-top: 4rem; }

.site-header {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }
  .site-header__contact {
    color: #726658;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    display: none; }
    @media only screen and (min-width: 992px) {
      .site-header__contact {
        display: flex;
        position: absolute;
        top: 2.5rem;
        right: 0.8rem; } }
  .site-header__tel {
    margin-right: 1rem; }
  .site-header__menu-icon {
    width: 20px;
    height: 19px;
    position: absolute;
    z-index: 10;
    top: 4.2rem;
    right: 1rem; }
    .site-header__menu-icon::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #006e47;
      /* Make origin the top left */
      transform-origin: 0 0;
      transition: transform 0.3s ease-out; }
    .site-header__menu-icon__middle {
      position: absolute;
      top: 8px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #006e47;
      transition: all 0.3s ease-out;
      transform-origin: 0 50%; }
    .site-header__menu-icon::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #006e47;
      transform-origin: 0 100%;
      transition: transform 0.3s ease-out; }
    @media only screen and (min-width: 768px) {
      .site-header__menu-icon {
        display: none; } }

.main-nav {
  position: relative; }
  .main-nav__logo {
    max-width: 20rem;
    margin-top: 2rem; }
    @media only screen and (min-width: 768px) {
      .main-nav__logo {
        max-width: 27rem; } }

.dropdown-menu {
  border: none;
  text-align: right;
  margin-left: -1.5rem; }
  @media only screen and (min-width: 576px) {
    .dropdown-menu {
      text-align: left; } }

.menu-item {
  margin-left: 1rem; }
  @media only screen and (min-width: 992px) {
    .menu-item {
      margin-left: 2rem; } }

#menu-header-menu-container {
  margin-top: 3.5rem; }

.menu-item a {
  color: #1d4938 !important;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem; }
  @media only screen and (min-width: 992px) {
    .menu-item a {
      font-size: 1.9rem; } }

.current-menu-item a,
.current-menu-parent > a {
  color: #006e47 !important;
  border-bottom: 2px solid #006e47;
  padding-bottom: 0; }

.dropdown:hover > .dropdown-menu {
  display: block; }

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none; }

.dropdown-item:active {
  background-color: transparent; }

.opening {
  margin-top: 5rem;
  margin-bottom: 5rem; }
  .opening__image {
    max-width: 100%; }
  .opening__image2 {
    max-width: 80%; }
  .opening__border-bottom {
    border-bottom: 2px solid #1d4938; }
  .opening__why-choose-us-container {
    margin-top: 3rem; }
    @media only screen and (min-width: 992px) {
      .opening__why-choose-us-container {
        margin-top: -10rem; } }
    @media only screen and (min-width: 768px) {
      .opening__why-choose-us-container {
        margin-top: -5rem; } }
  .opening__why-choose-us__description {
    font-size: 1.5rem;
    color: #726658;
    font-weight: 300; }
    @media only screen and (min-width: 768px) {
      .opening__why-choose-us__description {
        font-size: 2rem; } }
  .opening__square-container {
    display: none;
    opacity: 0; }
    @media only screen and (min-width: 768px) {
      .opening__square-container {
        display: block;
        opacity: 1; } }
    @media only screen and (min-width: 1200px) {
      .opening__square-container {
        margin-left: 4rem; } }
    @media only screen and (min-width: 1400px) {
      .opening__square-container {
        margin-left: 8rem; } }
  .opening__square {
    border: 2px solid #c2b59b; }
    @media only screen and (min-width: 768px) {
      .opening__square {
        width: 15rem;
        height: 15rem; } }
    @media only screen and (min-width: 992px) {
      .opening__square {
        width: 18rem;
        height: 18rem; } }
  .opening__download-text {
    font-size: 1.75rem;
    color: #006e47;
    font-weight: 700; }
  .opening__contact-us-image-container, .opening__front-page-image-container, .opening__front-page-image-secondary-container {
    max-width: 30rem; }
    @media only screen and (min-width: 576px) {
      .opening__contact-us-image-container, .opening__front-page-image-container, .opening__front-page-image-secondary-container {
        max-width: 54rem; } }
  .opening__use-case-image-container {
    max-width: 30rem; }
    @media only screen and (min-width: 768px) {
      .opening__use-case-image-container {
        max-width: 54rem; } }

.services {
  margin-top: 4rem; }
  .services__description {
    color: black;
    font-weight: 300; }
  .services__service-box {
    margin-bottom: 4rem; }

.training__image-container {
  max-width: 50rem;
  max-height: 37rem; }

.training__heading {
  margin-bottom: 1rem; }

.training__subheading {
  margin-bottom: 2rem; }

.training__services {
  margin-bottom: 1rem; }
  .training__services__heading {
    font-weight: 700;
    font-size: 1.4rem;
    color: black; }
  .training__services__description {
    font-size: 1.4rem;
    color: black; }

.technical-resources {
  margin-bottom: 5rem; }
  .technical-resources__secondary-image-container {
    max-width: 48rem; }
  .technical-resources__product-sheet {
    border-bottom: 2px solid #c2b59b;
    padding-bottom: 1rem; }
    .technical-resources__product-sheet span {
      color: #006e47; }

.testimonials {
  margin-top: 3rem; }
  .testimonials__heading {
    margin-bottom: 4rem; }
  .testimonials__carousel-item {
    margin-left: 5rem;
    color: #231f20; }
    @media only screen and (min-width: 576px) {
      .testimonials__carousel-item {
        margin-left: 8rem; } }
  .testimonials__name {
    font-weight: 700; }
  .testimonials__border-bottom {
    margin-top: 5rem;
    height: 2rem;
    background-color: #006e47; }

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23726658' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important; }

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23726658' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important; }

.use-case-summary__details p {
  color: #231f20; }

.use-case-summary__benefits {
  margin-bottom: 4rem; }

.use-case-summary__benefits-item {
  margin-left: 0;
  margin-bottom: 2rem; }

.use-case-summary__benefits-checkbox {
  font-size: 3.5rem; }
