@mixin atSm {
  @media only screen and (min-width: 576px) {
    @content;
  }
}

@mixin atMd {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin atLg {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin atXl {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin atXxl {
  @media only screen and (min-width: 1400px) {
    @content;
  }
}

@mixin clearfix {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}
