// *** VARIABLES *** \\
$fontStack: 'Titillium Web', sans-serif;
$mainGreen: #006e47;
$darkGreen: #1d4938;
$darkBrown: #726658;
$lightBrown: #c2b59b;
$mainWhite: #fff;
$mainGrey: #58585a;
$lightGrey: #eae6e5;
$mainBlack: #231f20;
