.button {
  font-weight: 700;
  background-color: transparent;

  &--large {
    font-size: 2rem;
    padding: 1.25rem 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  &--small {
    padding: 1rem;
  }

  &--green {
    color: $mainGreen;
    border-color: $mainGreen;
    &:hover {
      background-color: $mainGreen;
      color: #fff;
    }
  }

  &--border-green {
    border-color: $mainGreen;
  }

  &--brown {
    background-color: $darkBrown;
    color: #fff !important;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.625rem;
  }
}
