.contact-form {
  margin-bottom: 4.5rem;
}

// Contact form 7 class
.wpcf7 {
  color: $darkBrown;

  // Form labels
  & label {
    width: 100%;
    margin-bottom: 0;
  }

  & p {
    display: flex;
    width: 100%;
  }

  // Form text inputs
  &-text {
    border: 1px solid $darkBrown;
    min-width: 100%;
    max-width: 100%;
    margin-top: 2px;
  }

  // Form text area inputs
  &-textarea {
    min-width: 100%;
    max-width: 100%;
    border: 1px solid $mainBlack;
    resize: none;
  }

  // Submit button
  &-submit {
    padding-right: 3rem;
    padding-left: 3rem;
    margin-right: -20px;
    font-size: 1.5rem;
    background-image: url();
  }
}
