.contact {
  &--bg-green {
    background: $mainGreen;
  }

  &--bg-grey {
    background: $lightGrey;
  }

  &__border-light {
    background: $lightBrown;
    height: 1.5rem;
  }

  &__border-dark {
    background: $darkBrown;
    height: 1.5rem;
  }

  &__main {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  &__heading {
    line-height: 1.5;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
  }

  &__text {
    font-size: 1.5rem;
    color: $mainBlack;
    line-height: 1.7;

    &--bold {
      font-weight: 700;
    }
  }
}
