.featured-products {
  padding-top: 5rem;
  background: $lightGrey;

  &__image {
    height: 15rem;
    width: 15rem;
    & img {
      width: 100%;
      height: 100%;
    }
  }

  &__heading {
    margin-bottom: 4rem;
    text-align: center;

    @include atSm {
    }

    @include atMd {
      text-align: left;
      margin-bottom: 1.5rem;
    }

    @include atLg {
    }
  }

  &__subheading {
    color: black;
    font-weight: 700;
    margin-top: 2rem;
    font-size: 1.4rem;
  }

  &__description {
    color: black;
    font-weight: 300;
    font-size: 1.4rem;
  }

  &__link {
    color: $mainGreen;
    font-weight: 700;
    font-size: 1.4rem;
    border-bottom: 1px solid $mainGreen;

    &:hover {
      color: $mainGreen;
    }
  }

  &__border-bottom {
    background: $darkBrown;
    height: 1.5rem;
    margin-top: 5rem;
  }
}
