.footer {
  background: $darkGreen;
  padding: 5rem 0;
  color: $mainWhite;

  &__heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &__copyright {
    border-top: 1px solid $lightBrown;
    padding-top: 1.5rem;
    margin-top: 4rem;
  }
}
