.main-nav {
  position: relative;

  &__logo {
    max-width: 20rem;
    margin-top: 2rem;

    @include atMd {
      max-width: 27rem;
    }
  }
}

.dropdown-menu {
  border: none;
  text-align: right;
  margin-left: -1.5rem;

  @include atSm {
    text-align: left;
  }
}

.menu-item {
  margin-left: 1rem;

  @include atLg {
    margin-left: 2rem;
  }
}

#menu-header-menu-container {
  margin-top: 3.5rem;
}

.menu-item a {
  color: $darkGreen !important;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;

  @include atLg {
    font-size: 1.9rem;
  }
}

.current-menu-item a,
.current-menu-parent > a {
  color: $mainGreen !important;
  border-bottom: 2px solid $mainGreen;
  padding-bottom: 0;
}

// Show use case dropdown on hover
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.dropdown-item:active {
  background-color: transparent;
}
