.opening {
  margin-top: 5rem;
  margin-bottom: 5rem;

  &__image {
    max-width: 100%;
  }

  &__image2 {
    max-width: 80%;
  }

  &__border-bottom {
    border-bottom: 2px solid $darkGreen;
  }

  &__why-choose-us-container {
    margin-top: 3rem;

    @include atLg {
      margin-top: -10rem;
    }

    @include atMd {
      margin-top: -5rem;
    }
  }

  &__why-choose-us {
    &__description {
      font-size: 1.5rem;
      color: $darkBrown;
      font-weight: 300;

      @include atMd {
        font-size: 2rem;
      }
    }
  }

  &__square-container {
    display: none;
    opacity: 0;

    @include atMd {
      display: block;
      opacity: 1;
    }

    @include atLg {
    }

    @include atXl {
      margin-left: 4rem;
    }

    @include atXxl {
      margin-left: 8rem;
    }
  }

  &__square {
    border: 2px solid $lightBrown;

    @include atMd {
      width: 15rem;
      height: 15rem;
    }

    @include atLg {
      width: 18rem;
      height: 18rem;
    }
  }

  &__download-text {
    font-size: 1.75rem;
    color: $mainGreen;
    font-weight: 700;
  }

  &__contact-us-image-container,
  &__front-page-image-container,
  &__front-page-image-secondary-container {
    max-width: 30rem;

    @include atSm {
      max-width: 54rem;
    }
  }

  &__use-case-image-container {
    max-width: 30rem;

    @include atMd {
      max-width: 54rem;
    }
  }
}
