.site-header {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &__contact {
    color: $darkBrown;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    display: none;

    @include atLg {
      display: flex;
      position: absolute;
      top: 2.5rem;
      right: 0.8rem;
    }
  }

  &__tel {
    margin-right: 1rem;
  }

  &__menu-icon {
    width: 20px;
    height: 19px;
    position: absolute;
    z-index: 10;
    top: 4.2rem;
    right: 1rem;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: $mainGreen;
      /* Make origin the top left */
      transform-origin: 0 0;
      transition: transform 0.3s ease-out;
    }

    &__middle {
      position: absolute;
      top: 8px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: $mainGreen;
      transition: all 0.3s ease-out;
      transform-origin: 0 50%;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: $mainGreen;
      transform-origin: 0 100%;
      transition: transform 0.3s ease-out;
    }

    @include atMd {
      display: none;
    }
  }
}
