.technical-resources {
  margin-bottom: 5rem;

  &__secondary-image-container {
    max-width: 48rem;
  }

  &__image {
    // width: 480px;
  }

  &__product-sheet {
    border-bottom: 2px solid $lightBrown;
    // flex: 0 auto;
    padding-bottom: 1rem;

    & span {
      color: $mainGreen;
    }
  }
}
