.testimonials {
  margin-top: 3rem;

  &__heading {
    margin-bottom: 4rem;
  }

  &__carousel-item {
    margin-left: 5rem;
    color: $mainBlack;

    @include atSm {
      margin-left: 8rem;
    }
  }

  &__name {
    font-weight: 700;
  }

  &__border-bottom {
    margin-top: 5rem;
    height: 2rem;
    background-color: $mainGreen;
  }
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23726658' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23726658' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
