.training {
  &__image-container {
    max-width: 50rem;
    max-height: 37rem;
  }
  &__heading {
    // line-height: 1.5;
    margin-bottom: 1rem;
  }
  &__subheading {
    margin-bottom: 2rem;
  }

  &__services {
    margin-bottom: 1rem;

    &__heading {
      font-weight: 700;
      font-size: 1.4rem;
      color: black;
    }

    &__description {
      font-size: 1.4rem;
      color: black;
    }
  }
}
