.use-case-summary {
  &__details p {
    color: $mainBlack;
  }
  &__benefits {
    margin-bottom: 4rem;
  }

  &__benefits-item {
    margin-left: 0;
    margin-bottom: 2rem;
  }

  &__benefits-checkbox {
    font-size: 3.5rem;
  }
}
