// Reset \\
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a:visited,
a:hover,
a:active {
  text-decoration: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // Define 1 rem as 10px
  background-color: grey;
}

body {
  background-color: $mainWhite;
  max-width: 160rem;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.container-fluid {
  max-width: 160rem;
}
