body {
  font-family: $fontStack;
  font-weight: 400;
  color: $lightBrown;
  font-size: 1.5rem;
}

.heading-primary {
  color: $darkBrown;
  font-weight: 300;
  font-size: 2.5rem;
  margin-top: 2rem;

  @include atMd {
    margin-top: 0rem;
    font-size: 2.75rem;
  }

  @include atLg {
    font-size: 3.75rem;
  }
}

.heading-secondary {
  text-transform: uppercase;
  color: $darkBrown;
  font-size: 1.75rem;
  font-weight: 700;

  @include atMd {
    font-size: 2.5rem;
  }
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  color: $mainBlack;
}

.heading-green {
  font-size: 2rem;
  color: $mainGreen;
  font-weight: 700;
}

.text-large {
  font-size: 2.5rem;
  color: $darkBrown;
  font-weight: 300;
}

.text-medium {
  color: $mainGrey;
  font-size: 1.6rem;
  font-weight: 400;

  @include atLg {
    font-size: 1.8rem;
  }
}

.text-small {
  font-size: 1.2rem;
  font-weight: 300;
  // color: $mainBlack;
}

.text-bold {
  font-weight: 700;
}
