.color-light-green {
  color: $mainGreen;
}

.color-dark-green {
  color: $darkGreen;
}

.color-light-brown {
  color: $lightBrown;
}

.color-dark-brown {
  color: $darkBrown;
}

.color-white {
  color: $mainWhite;
}

.color-black {
  color: $mainBlack;
}

.color-main-grey {
  color: $mainGrey;
}
